body {
    /* Ruta de la imagen usando Django */
    background-image: url("/static/img/basket2.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    min-height: 100vh; 
    margin: 0;
}

#Carrusel {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px; 

    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}


